@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "variables";
@import "typography";
@import "buttons";
@import "backgrounds";
@import "texts";
@import "icons";
@import "mixins";

header {
  background-color: $yellow-light-color;
  .navbar-light .navbar-nav .nav-link {
    color: $black-color;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }

  .navbar-nav .nav-item .nav-link {
    &:hover, &:focus {
      color: $orange-color;
    }
  }
}

.main-section {
  background-color: $yellow-light-color;
  padding: 88px 0;
  background-image: url("../images/mcdonalds_fast_food.png");
  background-position: right;
  background-repeat: no-repeat;
  @include max-screen($lg-screen) {
    background-image: url("../images/mcdonalds_fast_food_mobile.png");
    background-position: right;
    background-repeat: no-repeat;
  }

  .card {
    background-color: transparent;
  }

  .card-body {
    background-color: transparent;
  }
}

.shop-categories-section {
  padding: 108px 0;
  .card {
    border-radius: 16px;
    border: none;
    cursor: pointer;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
}

.owl-carousel {
  .owl-nav button.owl-prev, button.owl-next {
    display: none;
  }

  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  }
  .owl-dots {
    text-align: center;
    position: relative;
    top: 40px;
  }
  .owl-dots .owl-dot.active span {
    background-color: $black-color;
  }
}

