$font-family-primary: 'Montserrat-Medium', sans-serif;
$font-family-secondary: 'Montserrat-SemiBold', sans-serif;
$font-family-main-medium: 'Circular-Std-Medium', sans-serif;
$font-family-main-bold: 'Circular-Std-Bold', sans-serif;

$white-color: #FFFFFF;
$yellow-light-color: #FFCC00;
$yellow-color: #E0B300;
$beige-color: #D1CA99;
$golden-color: #DEC651;
$orange-color: #FF7400;
$purple-color: #A54C85;
$pink-color: #EF476F;
$pink-light-color: #E06C9F;
$olive-color: #89B0AE;
$emerald-color: #48A9A6;
$green-color: #387780;
$blue-color: #26547C;
$black-color: #2B2D42;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-lg: 44px;
$font-size-xl: 84px;